<h1> Submit a New Article </h1>

<form method="post" action="/articles">
    <label> Title: </label>
    <input type="text" name="title"/>
    <label> Content: </label>
    <input type="text" name="content">
    <br>
    <input type="submit" value="Create Article">
</form>